@font-face{
    font-family: 'Open Sans';
    font-weight: 100;
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

@font-face{
    font-family: 'Open Sans';
    font-weight: 400;
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sanslight') format('svg');
}
   
@font-face{
    font-family: 'Open Sans';
    font-weight: 100;
    font-style: italic;
    src: url('OpenSans-LightItalic-webfont.eot');
    src: url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-LightItalic-webfont.woff') format('woff'),
         url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-LightItalic-webfont.svg#open_sanslight') format('svg');
}

@media screen and (min-width:1px){
    
    html, body{
        height: 100%;
        width: auto;
        margin: 0;
        padding: 0;
        background-color: white;
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    }

    /***********START universal page (level 0) sections************/
    #wrapper{
        background-color: transparent; 
        position: relative;
        width: auto; 
        margin-left: 15%;
        margin-right: 15%;   
    }

    #header{
        background-color: transparent;  
        position: relative;
        height: 130px; 
        width: auto;
    }

    #nav{
        background-color: transparent;
        position: relative;
        height: 60px;
        width: auto;
        /*display: flex;
        justify-content: center;*/

        border-bottom: 1px solid black;
         
    }

    #hamburger{
        height: 60px;
        width: auto;
        position: relative;
        background-color: transparent;
        border: 0px solid black;
        float: right;
        padding-right: 25px;
        padding-left: 25px;
        visibility: hidden;
    }

    #hamburger:hover{
        cursor: pointer;
    }

    #footer{
        background-color: transparent; 
        position: relative;
        height: 130px;    
    }

    #headerText{
        font-size: 99px;
        font-family:'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 100;
        font-style: normal;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        line-height: 130px;
        
    }

    /*CHANGE width to auto and make buttons absolute */
    #button{
        position: relative;
        background-color: transparent;
        border: 0px solid black;
        height: 60px;
        width: 33.33%;
        float: left;
        padding-right: 25px;
        padding-left: 25px;
    }

    #button:hover{
        cursor: pointer;
     }
    #button:focus{
        outline: none;
    }
    
    .home{} 
    .projects{}
    .photography{}

    #buttonText{
        font-size: 26px;
        font-family: 'Open Sans';
        font-weight: 100;
        text-align: center;
        margin: auto 0 auto 0;
        padding: 0;
    }

    /* Change button text on hover + focus*/
    #button:hover #buttonText{
        font-size: 27px;
        font-family: 'Open Sans';
        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    #button:focus #buttonText{
        font-size: 27px;
        font-family: 'Open Sans';
        font-weight: 400;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    #footerText{
        font-size: 24px;
        font-family: 'Open Sans';
        font-weight: 100;
        font-style: normal;
        text-align: center;
        margin: 0;
        padding: 0;
        background-color: transparent;
        line-height: 130px;
    }

    #body{
        background-color: transparent;  
        position: relative;
    }
    
    #bodyText{
        font-size: 23px;
        font-family:'Open Sans';
        font-weight: 100;
        font-style: normal;
        text-align: center;
        margin: 0;
        padding: 6px 0 12px 0;
        background-color: transparent;
    }

    /***********END universal page (level 0) sections************/


    /***********START home page (level 0) sections************/  

    /*Photoscroller classes and ids are below in their own section*/

    #bodyImageContainer{
        position: relative;    
        height: 539px;
        width: 100%;
    }

    #bodyImageContainer:hover #imageHoverOverlay{
        opacity: .4;
    }

    #bodyImageContainer:hover #imageHoverText{
        opacity: 1.0;
    }

    #bodyImage {
        background-color: transparent;
        position: absolute;
        height: 539px;
        max-width: 100%;
        margin: 0;
        padding: 0;
        float: none;
        z-index: 14;
    }

    #imageHoverText{
        position: absolute;
        font-size: 26px;
        color: #ffffff;
        font-family: 'Open Sans';
        font-weight: 100;       
        text-align: center;
        margin: 0;
        padding: 0;
        opacity: 0;
        z-index: 15;
    }

    #imageHoverOverlay{
        position: absolute;
        height: 539px;
        max-width: 100%;
        background-color: #000000;
        opacity: 0;
        z-index: 14;
    }

    #imageHoverOverlay:hover{
        cursor: pointer;
    }

    #bodyTitleText{
        font-size: 26px;
        font-family: 'Open Sans';
        font-weight: 100;
        text-align: center;
        margin: 40px 0 12px 0;  /*used to be 70px on top*/
        padding: 0;
    }
    /***********END home page (level 0) sections************/


    /***********START 1 page sections**********/
    #subPageRow{
        display: flex;
        justify-content: center;
    }
    
    #subPageBody{
        background-color: transparent;  
        position: relative;
    }

    #subPageBodyImageContainer{
        background-color: transparent;
        position: relative;    
        height: 380px;
        width: 380px;
        margin: 10px;
    }

    #subPageBodyImageContainer:hover #subPageImageHoverOverlay{
        opacity: .4;
        cursor: pointer;
    }

    #subPageBodyImageContainer:hover #subPageImageHoverText{
        opacity: 1.0;
    }

    #subPageBodyImage {
        background-color: transparent;
        position: absolute;
        height: 380px;
        width: 380px;
        margin: 0;
        padding: 0;
        float: none;
        z-index: 14;
    }

    #subPageImageHoverText{
        position: absolute;
        font-size: 26px;
        color: #ffffff;
        font-family: 'Open Sans';
        font-weight: 100;       
        text-align: center;
        margin: 0;
        padding: 0;
        opacity: 0;
        z-index: 15;
    }

    #subPageImageHoverText:hover{
        cursor: pointer;
    }

    #subPageImageHoverOverlay{
        position: absolute;
        height: 380px;
        width: 380px;
        background-color: #000000;
        opacity: 0;
        z-index: 14;
    }
    
    #subPageBodyText{
        font-size: 23px;
        font-family:'Open Sans';
        font-weight: 100;
        font-style: normal;
        text-align: center;
        margin: 0;
        padding: 6px 0 12px 0;
        background-color: transparent;
    }
    /***********END level 1 page sections**********/
    

    /*********START level 2 page sections**********/
    #contentTitleText{
       font-size: 26px;
        font-family: 'Open Sans';
        font-weight: 100;
        text-align: center;
        margin: 70px 0 12px 0;  
        padding: 0;
    }

    #contentText{
        font-size: 23px;
        font-family:'Open Sans';
        font-weight: 100;
        font-style: normal;
        text-align: center;
        margin: 0;
        padding: 6px 0 12px 0;
        background-color: transparent;
    }
    
    #contentImage{
        background-color: transparent;
        position: relative;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        float: none;
    }
    /*********END leve 2 page sections**********/


    /********START photoScroller image setup + identification classes*******/
    #photoScroller {
        background-color: transparent;
        position: relative;
        display: flex;
        height: 539px;
        max-width: 100%;
        overflow: hidden;
        margin: 0 auto 0 auto;
        padding: 0;
        align-content: center;
        justify-content: center;
    }

    #photoScroller #bodyImageContainer:hover {
        cursor: pointer
    }
    
    #photoScroller #bodyImageContainer {
        max-width: 100%;
        height: 539px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 8;
    }

    #photoScroller #bodyImageContainer.active {
        z-index: 10;
        opacity: 1.0;
    }  

    #photoScroller #bodyImageContainer.inactive {
        z-index: 9;
        opacity: 1.0;
    }

    #photoScroller #bodyImageContainer.home {} 

    #photoScroller #bodyImageContainer.projects {}

    #photoScroller #bodyImageContainer.photography {}

    /********END photoScroller image setup + identification classes*******/

     
   
    
    /***********START email styling***********/
    #email{
        color: #5C5CAD;
        text-decoration: none;
        background-color: transparent;
        border: 0px solid #8585AD;
    }

    /*DO SOMETHING ELSE TO SIGNIFY FOCSUS*/
    #email:focus{
        color: black; 
        outline: none;
    }

    #email:hover{
        color: black;
        cursor: pointer;
    }
    /***********END email styling***********/


}
